In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

df = pd.read_csv('data_uncleaned.csv')

/Users/JPhilleo/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0,2,3,4,6,7,8,9,10,11,12,13,15,16,17,19,21,24,25,26,27,28,29,31,33,35,36,37,39,41,42,43,44,45,46,49,50,51,52,53,54,55,56,57,58,60,64,65,66,68,71,72,73,74,75,76,77,78,79,80,81,82,83,85,86,89,90,92,93,96,98,99,101,102,103,104,105,107,109,111,113,114,115,116,117,118,119,121,123,125,126,128,129,131,132,133,134,136,138,140,141,143,145,146,147,148,149,150,151,152,154,155,156,157,158,159,160,161,162,164,165,166,168,169,172,173,174,176,177,179,180,181,182,184,185,186,187,188,189,190,191,192,193,196,197,200,201,202,204,207,209,210,211,217,218,220,221,222,223,225,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,256,258,259,261,262,263,264,267,269,270,271,272,273,274,275,277,278,279,280,281,282,283,284,285,288,290,291,296,298,299,300,302,303,304,306,307,308,309,310,311,313,314,315,316,317,318,319,320,321,323,324,325,326,329,330,331,332,333,335,336,337,338,339,341,342,343,344,345,347,348,349,350,351,352,353,357,358,359,360,362,364,365,366,367,369,370,371,372,373,374,376,377,378,379,380,383,384,385,388,391,392,393,394,400,401,402,405,406,407,409,410,411,412,413,416,418,421,423,424,426,427,428,430,435,436,438,439,443,445,446,447,450,452,453,456,457,458,459,460,462,463,465,468,470,471,473,474,475,476,477,478,479,482,484,485,486,488,491,492,493,496,497,500,501,502,503,505,506,507,508,509,510,513,514) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df.shape

(8643, 515)

In [3]:
df.head()

,365chess player ID,ACM Digital Library author ID,ADK member ID,AGORHA person/institution ID,AcademiaNet,Academic Tree ID,AllMovie artist ID,AllMusic artist ID,AlloCiné person ID,Art UK artist ID,...,topic's main template,unmarried partner,uses,video,warheroes.ru ID,winner,work location,zbMATH author ID,ČSFD person ID,اللللل
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,['Paris'],['boscovich.ruggiero-giuseppe'],NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['deahna.f'],NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns.values

array(['365chess player ID', 'ACM Digital Library author ID',
       'ADK member ID', 'AGORHA person/institution ID', 'AcademiaNet',
       'Academic Tree ID', 'AllMovie artist ID', 'AllMusic artist ID',
       'AlloCiné person ID', 'Art UK artist ID', 'Artnet artist ID',
       'Artsy artist ID', 'Australian Dictionary of Biography ID',
       'Auñamendi ID', 'BAV ID', 'BBF ID', 'BDCYL authority ID',
       'BHL creator ID', 'BIBSYS ID', 'BMLO', 'BNA authority ID', 'BNC ID',
       'BNE ID', 'BVMC person ID', 'Babelio author ID',
       'Bait La Zemer Ha-Ivri artist ID',
       'Baltisches Biographisches Lexikon digital ID', 'BanQ author ID',
       'Benezit ID', 'BiblioNet author ID', 'Biografisch Portaal number',
       'Bloomberg person ID', 'BnF ID', 'Bridgeman artist ID',
       'British Museum person-institution', 'British Museum thesaurus ID',
       'C-SPAN person ID', 'CALIS ID', 'CANTIC-ID', 'CBDB ID', 'CERL ID',
       'CESAR person ID', 'CLARA-ID', 'CONICET person ID', 'CONOR ID',
       'CPDL ID', 'CRIStin ID', 'CTHS person ID',
       'Cambridge Alumni Database ID', 'Carnegie Hall agent ID',
       'Catalogus Professorum Academiae Groninganae id',
       'Catalogus Professorum Academiae Rheno-Traiectinae ID',
       'Catalogus Professorum Halensis',
       'Catalogus Professorum Lipsiensis ID',
       'Catalogus Professorum Rostochiensium ID',
       'Catholic Encyclopedia ID', 'Catholic Hierarchy person ID',
       'Chess Games ID', 'China Vitae ID', 'CiNii author ID',
       'Clergy of the Church of England database ID',
       'Commons Creator page', 'Commons category', 'Commons gallery',
       'Cooper-Hewitt Person ID', 'Cross-tables.com Scrabble player ID',
       'Cullum number', 'Cultureel Woordenboek identifier', 'DAAO ID',
       'DBLP ID', 'DBNL author ID', 'DNB editions',
       'Dagens Nyheter topic ID', 'Database of Classical Scholars ID',
       'Declarator.org ID', 'Dialnet author ID',
       'Dictionary of Art Historians ID',
       'Dictionary of Canadian Biography ID',
       'Dictionary of New Zealand Biography',
       'Dictionary of Swedish National Biography',
       'Dictionary of Ulster Biography ID',
       'Dictionary of Welsh Biography ID', 'Directorio Grierson ID',
       'Discogs artist ID', 'Dizionario Biografico degli Italiani',
       'Dutch Senate person ID', 'ECARTICO person ID', 'EGAXA ID',
       'EMLO person ID', 'ESPNcricinfo.com player ID',
       'Eight Banner register', 'Electronic Enlightenment ID',
       'Elo rating', 'Elonet person ID', 'Enciclopedia Treccani ID',
       'Encyclopædia Britannica Online ID',
       'Encyclopædia Universalis Online ID', 'Erdős number',
       'Esperantist ID', 'Estonian Research Portal person ID', 'FAST ID',
       'FIDE ID', 'FIE ID', 'FISA rower ID', 'Facebook profile ID',
       'FamilySearch person ID', 'Fellow of the Royal Society ID',
       'Filmportal ID', 'Find a Grave grave ID', 'Fotografen.nl ID',
       'Freebase ID', 'French National Assembly ID', 'GND ID', 'GTAA ID',
       'Geni.com profile ID', 'Georgia', 'GitHub username',
       'Global Anabaptist Mennonite Encyclopedia Online ID',
       'Goodreads author ID', 'Google Knowledge Graph identifier',
       'Google Scholar author ID', 'Google+ ID',
       'Gran Enciclopèdia Catalana ID', 'Great Aragonese Encyclopedia ID',
       'Great Russian Encyclopedia Online ID', 'Guardian topic ID',
       'HAS member ID', 'HDS ID', 'Hansard (1803–2005) ID',
       'HathiTrust ID',
       'Heidelberg Academy for Sciences and Humanities member ID',
       'History of Modern Biomedicine ID', 'History of Parliament ID',
       'Hypocnemis peruviana', 'IDEO Job ID', 'IMDb ID', 'IMSLP ID',
       'INSPIRE-HEP author ID', 'IPA transcription', 'IPNI author ID',
       'ISCO occupation code', 'ISFDB author ID', 'ISNI',
       'Iconclass notation', 'InPhO ID',
       'Internet Broadway Database person ID',
       'Israel Chess Federation player ID',
       'Italian Chamber of Deputies dati ID',
       'J. Paul Getty Museum artist id', 'JewAge person ID',
       'Jewish Encyclopedia Daat ID', 'Jewish Encyclopedia ID (Russian)',
       'KLfG Critical Dictionary of foreign contemporary literature',
       'KNAW past member ID', 'KU Leuven person ID', 'KVAB member ID',
       'Kaiserhof ID', 'Kansallisbiografia ID', 'Kindred Britain ID',
       'Kinopoisk person ID', 'KulturNav-id',
       'Kunstindeks Danmark Artist ID', 'LAC ID', 'LNB ID',
       'Lattes Platform number',
       'Legacies of British Slave-ownership person ID',
       'Leidse Hoogleraren ID', 'Leopoldina member ID',
       'Les Archives du Spectacle ID',
       'Library of Congress Classification',
       'Library of Congress authority identifier', 'LibriVox author ID',
       'LinkedIn personal profile URL', 'LiveJournal ID', 'Loop ID',
       'Léonore ID', 'MEP directory ID', 'MOOMA artist ID',
       'MacTutor id (biographies)', 'Magdeburger Biographisches Lexikon',
       'Marburger Professorenkatalog ID', 'MathWorld identifier',
       'Mathematical Reviews ID', 'Mathematics Genealogy Project ID',
       'McCune-Reischauer romanization', 'Mendeley person ID',
       'MoMA artist id', "Munk's Roll ID", 'Munzinger IBA',
       'Munzinger Sport number', 'MusicBrainz artist ID',
       "Musée d'Orsay artist ID", 'NASA biographical ID', 'NCL ID',
       'NDL Auth ID', 'NE.se ID', 'NFL.com ID', 'NILF author id',
       'NKCR AUT ID', 'NLA (Australia) ID', 'NLC authorities', 'NLP ID',
       'NLR (Romania) ID', 'NNDB people ID',
       'NSDAP membership number (1925–1945)', 'NSK ID', 'NSZL ID',
       'NSZL name authority ID', 'NUKAT (WarsawU) authorities',
       'National Academy of Medicine (France) MemberID',
       'National Gallery of Art artist ID',
       'National Inventors Hall of Fame ID',
       'National Library of Greece ID',
       'National Library of Ireland authority',
       'National Library of Israel ID',
       'National Portrait Gallery (London) person ID',
       'National Thesaurus for Author Names ID',
       'Nationalmuseum Sweden artist ID', 'Nihon Tarento Meikan ID',
       'Nobel Prize People Nomination ID', 'Nobel prize ID', 'Nomisma ID',
       'OCLC control number', 'ODIS ID', 'ORCID iD',
       'OlimpBase Chess Olympiad player ID', 'Open Library ID',
       'OpenPlaques subject ID', 'Oxford Biography Index Number', 'P1005',
       'P101', 'P106', 'P108', 'P1598', 'P166', 'P1871', 'P19', 'P1960',
       'P20', 'P21', 'P213', 'P214', 'P2348', 'P244', 'P2924', 'P31',
       'P3123', 'P3373', 'P512', 'P69', 'P863', 'P937', 'PORT person ID',
       'PRDL Author ID', 'PSS-Archi architect id', 'PTBNP ID',
       'Parlement & Politiek ID', 'People Australia ID',
       'Perlentaucher ID', 'Persons of Ancient Athens', 'Persée author ID',
       'PhDTree person ID', "Photographers' Identities Catalog ID",
       'Plarr ID', 'PolSys ID', 'Polish scientist ID',
       'Project Gutenberg author ID', 'Prosopographia Attica',
       'Quora topic ID', 'RERO ID', 'RKDartists ID',
       'ROME Occupation Code (v3)', 'RSL ID (person)', 'RePEc Short-ID',
       'Redalyc journal ID', 'ResearchGate person ID', 'ResearcherID',
       'Revised Romanization', 'Rodovid ID', 'Roman nomen gentilicium',
       'Royal Swedish Academy of Letters member ID', 'Runeberg author ID',
       'S2A3 Biographical Database ID', 'SABR ID', 'SANU member ID', 'SBL',
       'SBN ID', 'SELIBR', 'SFDb person ID', 'SHARE Catalogue author ID',
       'SOC Code (2010)', 'SSRN author ID', 'SUDOC authorities',
       'Sandrart.net person ID', 'Saxon Academy of Sciences member ID',
       'Scopus Author ID', 'Shakeosphere person ID',
       'Six Degrees of Francis Bacon ID', 'Slovenska biografija ID',
       'Smithsonian American Art Museum: person/institution thesaurus ID',
       'Soccerbase player ID', 'Social Networks and Archival Context ID',
       'Songkick artist ID', 'Spenserians person ID',
       'Sports-Reference.com Olympic athlete ID',
       'Stanford Encyclopedia of Philosophy ID', 'Structurae person ID',
       'Stuttgart Database of Scientific Illustrators ID',
       'Swiss Federal Archives ID', 'Swiss parliament ID', 'Sycomore ID',
       'Sächsische Biografie', 'TED speaker ID', 'TLG author ID',
       'Taekwondo Data ID', 'Te Papa artist ID', 'Teuchos ID',
       'Theatricalia person ID', 'Thyssen-Bornemisza artist ID',
       'Twitter username', 'UGentMemorialis ID', 'UK National Archives ID',
       'ULAN ID', 'UNZ author identifier', 'URL', 'US Congress Bio ID',
       'USCF ID', 'University of Barcelona authority ID', 'VIAF ID',
       'Vimeo username', 'Vote Smart ID', 'WeRelate person ID',
       'Web Gallery of Art ID', "Who's Who in France biography ID",
       'WikiTree ID', 'WomenWriters ID', 'World Bridge Federation ID',
       'World Series of Poker ID', 'Yahoo! Japan Talent Database ID',
       'YouTube channel ID', 'academic degree', 'academic major',
       'affiliation', 'allegiance', 'ancestral home', 'arXiv ID',
       'archives at', 'art-name', 'astronaut mission', 'audio',
       "audio recording of the subject's spoken voice", 'author',
       'author name string', 'autores.uy database id', 'award received',
       'birth name', 'botanist author abbreviation', 'canonization status',
       'catalog', 'category for recipients of this award', 'cause of',
       'cause of death', 'chairperson', 'child', 'coat of arms image',
       'commander of', 'commemorative plaque image', 'conferred by',
       'conflict', 'conflictش', 'consecrator',
       'contributed to published work', 'contributor(s) to the subject',
       'convicted of', 'country', 'country of citizenship',
       'country of origin', 'courtesy name', 'creator', 'culture',
       'date of baptism in early childhood', 'date of birth',
       'date of death', 'date of disappearance', 'depicted by',
       'described at URL', 'described by source', 'different from',
       'discoverer or inventor', 'doctoral advisor', 'doctoral student',
       'doctoral thesis', 'e-archiv.li ID', 'e-mail', 'editor',
       'educated at', 'employer', 'ethnic group', 'family name', 'father',
       'feed URL', 'female form of label', 'field of this occupation',
       'field of work', 'floruit', 'founded by',
       'genealogics.org person ID', 'genre', 'given name', 'godparent',
       'has list', 'has part', 'height', 'honorific prefix', 'image',
       'image of grave', 'inception', 'influenced by', 'inspired by',
       'instance of', 'instrument', 'interested in',
       'languages spoken, written or signed', 'legal form', 'lifestyle',
       'links', 'list of works', 'locator map image', 'manager/director',
       'manner of death', 'mass', 'mathematicians', 'medical condition',
       'member of', 'member of political party', 'member of sports team',
       'member of the deme', 'military branch', 'military rank', 'mother',
       'movement', 'name in kana', 'name in native language',
       'named after', 'native language', 'nickname', 'noble family',
       'noble title', 'nominated for', 'notable work',
       'number of children', 'occupation', 'official language',
       'official name', 'official website', 'openMLOL author ID',
       'organisation directed from the office',
       'original language of work', 'owner of', 'part of', 'participant',
       'participant of', 'patron', 'penalty', 'period',
       'permanent duplicated item', 'place of birth', 'place of death',
       'place of detention', 'place of interment',
       'place of origin (Switzerland)', 'political ideology',
       'position held', 'position played on team / speciality',
       'present in work', 'professorship', 'pronunciation audio',
       'pseudonym', 'record label', 'relative', 'religion',
       'religious order', 'represents organisation', 'residence',
       'said to be the same as', 'second surname in Spanish name',
       'senat.fr ID', 'sex or gender', 'sexual orientation', 'sibling',
       'signature', 'significant event', 'social classification',
       'spoken text audio', 'sport', 'spouse', 'stated in',
       'streaming media URL', 'student', 'student of',
       'student register of the University of Helsinki ID (1853–1899)',
       'subclass of', 'time in space', 'title of chess player',
       "topic's main category", "topic's main template",
       'unmarried partner', 'uses', 'video', 'warheroes.ru ID', 'winner',
       'work location', 'zbMATH author ID', 'ČSFD person ID', 'اللللل'], dtype=object)

In [5]:
df.dtypes

365chess player ID                                               object
ACM Digital Library author ID                                    object
ADK member ID                                                    object
AGORHA person/institution ID                                     object
AcademiaNet                                                      object
Academic Tree ID                                                 object
AllMovie artist ID                                               object
AllMusic artist ID                                               object
AlloCiné person ID                                               object
Art UK artist ID                                                 object
Artnet artist ID                                                 object
Artsy artist ID                                                  object
Australian Dictionary of Biography ID                            object
Auñamendi ID                                                     object
BAV ID                                                           object
BBF ID                                                           object
BDCYL authority ID                                               object
BHL creator ID                                                   object
BIBSYS ID                                                        object
BMLO                                                             object
BNA authority ID                                                 object
BNC ID                                                           object
BNE ID                                                           object
BVMC person ID                                                   object
Babelio author ID                                                object
Bait La Zemer Ha-Ivri artist ID                                  object
Baltisches Biographisches Lexikon digital ID                     object
BanQ author ID                                                   object
Benezit ID                                                       object
BiblioNet author ID                                              object
                                                                  ...
second surname in Spanish name                                   object
senat.fr ID                                                      object
sex or gender                                                    object
sexual orientation                                               object
sibling                                                          object
signature                                                        object
significant event                                                object
social classification                                            object
spoken text audio                                                object
sport                                                            object
spouse                                                           object
stated in                                                        object
streaming media URL                                              object
student                                                          object
student of                                                       object
student register of the University of Helsinki ID (1853–1899)    object
subclass of                                                      object
time in space                                                    object
title of chess player                                            object
topic's main category                                            object
topic's main template                                            object
unmarried partner                                                object
uses                                                             object
video                                                            object
warheroes.ru ID                                                  object
winner                                                           object
work location                                                    object
zbMATH author ID                                                 object
ČSFD person ID                                                   object
اللللل                                                           object
dtype: object

In [6]:
# discard columns with less than ten entries
for column in df.columns:
    if df[column].count() < 10:
        df = df.drop(column, axis=1)

print(df.shape)

(8643, 231)

In [7]:
df.count().sort_values(ascending=False)

mathematicians                                      8643
links                                               8643
instance of                                         8628
sex or gender                                       8575
occupation                                          8285
date of birth                                       7665
given name                                          7313
country of citizenship                              6879
VIAF ID                                             6476
place of birth                                      5588
Mathematics Genealogy Project ID                    5168
date of death                                       4908
SUDOC authorities                                   4826
Library of Congress authority identifier            4790
educated at                                         4727
GND ID                                              4360
ISNI                                                4326
BnF ID                                              3687
employer                                            3510
image                                               3317
place of death                                      3161
Freebase ID                                         3142
member of                                           3091
doctoral advisor                                    2451
field of work                                       2437
zbMATH author ID                                    2418
award received                                      2347
languages spoken, written or signed                 2329
National Thesaurus for Author Names ID              2098
MacTutor id (biographies)                           2094
                                                    ...
AGORHA person/institution ID                          16
Bridgeman artist ID                                   15
BMLO                                                  15
GTAA ID                                               15
Google Knowledge Graph identifier                     14
noble family                                          14
HAS member ID                                         14
IPA transcription                                     14
Stuttgart Database of Scientific Illustrators ID      14
Dictionary of Swedish National Biography              14
UK National Archives ID                               13
number of children                                    13
Photographers' Identities Catalog ID                  13
title of chess player                                 13
Rodovid ID                                            13
P213                                                  12
Marburger Professorenkatalog ID                       12
AcademiaNet                                           12
Kindred Britain ID                                    12
permanent duplicated item                             11
Facebook profile ID                                   11
military rank                                         11
National Gallery of Art artist ID                     11
Les Archives du Spectacle ID                          11
Dictionary of Ulster Biography ID                     11
Dictionary of Welsh Biography ID                      11
member of sports team                                 10
WomenWriters ID                                       10
NILF author id                                        10
365chess player ID                                    10
dtype: int64

In [8]:
# for easier analysis, sort df columns by number of entries
columns = df.count().sort_values(ascending=False).index
df = df[columns]

In [9]:
# functions used do not work with NaNs, so convert NaNs to empty strings
for i in df.columns:
    df[i][df[i].isnull()] = ''

print('number of non-humans in df: ', df[~((df['instance of'].str.contains("'human'")) | (df['instance of'].str.contains("'Q5'")))].shape[0])
df[~((df['instance of'].str.contains("'human'")) | (df['instance of'].str.contains("'Q5'")))]

number of non-humans in df:  46

,mathematicians,links,instance of,sex or gender,occupation,date of birth,given name,country of citizenship,VIAF ID,place of birth,...,Facebook profile ID,military rank,National Gallery of Art artist ID,Les Archives du Spectacle ID,Dictionary of Ulster Biography ID,Dictionary of Welsh Biography ID,member of sports team,WomenWriters ID,NILF author id,365chess player ID
337,Oxford Calculators,https://www.wikidata.org/wiki/Special:EntityPa...,['group of humans'],,,,,,,,...,,,,,,,,,,
338,Ronald Fisher bibliography,https://www.wikidata.org/wiki/Special:EntityPa...,"['personal bibliography', 'Ronald Fisher']",,,,,,,,...,,,,,,,,,,
490,Hindu and Buddhist contribution to science in ...,https://www.wikidata.org/wiki/Special:EntityPa...,,,,,,,,,...,,,,,,,,,,
589,AWM/MAA Falconer Lecturer,https://www.wikidata.org/wiki/Special:EntityPa...,['award'],,,,,,,,...,,,,,,,,,,
648,Fields Medal,https://www.wikidata.org/wiki/Special:EntityPa...,"['science award', 'mathematics']",,,,,,,,...,,,,,,,,,,
958,Malba Tahan,https://www.wikidata.org/wiki/Special:EntityPa...,['fictional human'],['male'],,,,,,,...,,,,,,,,,,
1059,Founders of statistics,https://www.wikidata.org/wiki/Special:EntityPa...,['Wikimedia list article'],,,,,,,,...,,,,,,,,,,
1151,Banū Mūsā,https://www.wikidata.org/wiki/Special:EntityPa...,['sibling group'],['male'],"['mathematician', 'engineer', 'scientist', 'as...","['9. century', 'statement with Gregorian date ...",,['Iraq'],['46045337'],['Baghdad'],...,,,,,,,,,,
1238,John Rainwater,https://www.wikidata.org/wiki/Special:EntityPa...,['fictional character'],['male'],['mathematician'],,['John'],,,,...,,,,,,,,,,
1278,Count von Count,https://www.wikidata.org/wiki/Special:EntityPa...,['vampire in a work of fiction'],['male'],,,,,,,...,,,,,,,,,,
1545,Charles Pierre Trémaux,https://www.wikidata.org/wiki/Special:EntityPa...,,,,,,,,,...,,,,,,,,,,
1713,Twersky,https://www.wikidata.org/wiki/Special:EntityPa...,['Wikimedia disambiguation page'],,,,,,,,...,,,,,,,,,,
2014,Nicolas Bourbaki,https://www.wikidata.org/wiki/Special:EntityPa...,"['collective pseudonym', 'fictional human', 's...",,['mathematician'],['1935'],,,['120155551'],,...,,,,,,,,,,
2069,Xenagoras (geometer),https://www.wikidata.org/wiki/Special:EntityPa...,,,,,,,,,...,,,,,,,,,,
2293,Wholistic reference,https://www.wikidata.org/wiki/Special:EntityPa...,,,,,,,,,...,,,,,,,,,,
2775,Robert Fountain,https://www.wikidata.org/wiki/Special:EntityPa...,['Wikimedia disambiguation page'],,,,,,,,...,,,,,,,,,,
2902,Sun Tzu (mathematician),https://www.wikidata.org/wiki/Special:EntityPa...,['book'],,,,,,,,...,,,,,,,,,,
2978,Igor Mezić,https://www.wikidata.org/wiki/Special:EntityPa...,,,,,,,,,...,,,,,,,,,,
3043,Carlitz-Wan conjecture,https://www.wikidata.org/wiki/Special:EntityPa...,,,,,,,,,...,,,,,,,,,,
3079,John Wood (professor),https://www.wikidata.org/wiki/Special:EntityPa...,,,,,,,,,...,,,,,,,,,,
3554,Barlow's formula,https://www.wikidata.org/wiki/Special:EntityPa...,,,,,,,,,...,,,,,,,,,,
3767,Blanche Descartes,https://www.wikidata.org/wiki/Special:EntityPa...,['collective pseudonym'],,['writer'],,,,,,...,,,,,,,,,,
3795,C. L. E. Moore instructor,https://www.wikidata.org/wiki/Special:EntityPa...,,,,,,,,,...,,,,,,,,,,
3838,Arthur Besse,https://www.wikidata.org/wiki/Special:EntityPa...,['collective pseudonym'],,['mathematician'],,,,['24679276'],,...,,,,,,,,,,
4201,Death of Gareth Williams,https://www.wikidata.org/wiki/Special:EntityPa...,['death'],,,,,,,,...,,,,,,,,,,
4264,Michel Gauquelin,https://www.wikidata.org/wiki/Special:EntityPa...,,,,,,,,,...,,,,,,,,,,
4268,Ernst equation,https://www.wikidata.org/wiki/Special:EntityPa...,,,,,,,,,...,,,,,,,,,,
4406,Timeline of women in mathematics in the United...,https://www.wikidata.org/wiki/Special:EntityPa...,,,,,,,,,...,,,,,,,,,,
4424,L'association femmes et mathématiques,https://www.wikidata.org/wiki/Special:EntityPa...,['association'],,,,,,['265450226'],,...,,,,,,,,,,
4558,Statistician,https://www.wikidata.org/wiki/Special:EntityPa...,['profession'],,,,,,,,...,,,,,,,,,,
4577,Australian Statistician,https://www.wikidata.org/wiki/Special:EntityPa...,['position'],,,,,['Australia'],,,...,,,,,,,,,,
4625,Ibn Abi al-Shukr,https://www.wikidata.org/wiki/Special:EntityPa...,"['Wikimedia duplicated page', 'Muhyi al-Dīn al...",['male'],"['astronomer', 'astrologer']",,,,,,...,,,,,,,,,,
4647,F.D.C. Willard,https://www.wikidata.org/wiki/Special:EntityPa...,"['cat', 'contributor', 'cryogenics']",['male organism'],,['1975'],,,,,...,,,,,,,,,,
4825,History of science in Classical Antiquity,https://www.wikidata.org/wiki/Special:EntityPa...,['aspect of history'],,,,,,,,...,,,,,,,,,,
4964,Cyberneticist,https://www.wikidata.org/wiki/Special:EntityPa...,['profession'],,,,,,,,...,,,,,,,,,,
5316,Otfried Cheong,https://www.wikidata.org/wiki/Special:EntityPa...,,,,,,,,,...,,,,,,,,,,
5373,Liu Gang,https://www.wikidata.org/wiki/Special:EntityPa...,,,,['30 January 1961'],,"[""People's Republic of China"", 'United States ...",['46228870'],,...,,,,,,,,,,
5850,Chris Caldwell,https://www.wikidata.org/wiki/Special:EntityPa...,['website'],,,,,,,,...,,,,,,,,,,
6478,Vateswara Siddhanta,https://www.wikidata.org/wiki/Special:EntityPa...,,,,,,,,,...,,,,,,,,,,
7300,Chudnovsky brothers,https://www.wikidata.org/wiki/Special:EntityPa...,['sibling duo'],,"['mathematician', 'computation']",,,,,['Kiev'],...,,,,,,,,,,
7447,Noether Lecture,https://www.wikidata.org/wiki/Special:EntityPa...,['award'],,,,,,,,...,,,,,,,,,,
7464,D. H. J. Polymath,https://www.wikidata.org/wiki/Special:EntityPa...,['research'],,,,,,,,...,,,,,,,,,,
7560,Rollo Davidson Prize,https://www.wikidata.org/wiki/Special:EntityPa...,['award'],,,,,,,,...,,,,,,,,,,
8269,G. W. Peck,https://www.wikidata.org/wiki/Special:EntityPa...,['pseudonym'],,,,,,,,...,,,,,,,,,,
8277,Three Pillars of Chinese Catholicism,https://www.wikidata.org/wiki/Special:EntityPa...,['group of humans'],,,,,,,,...,,,,,,,,,,
8589,Brethren of Purity,https://www.wikidata.org/wiki/Special:EntityPa...,['secret society'],,"['astronomer', 'astrologer', 'writer', 'encycl...",,,,['149871335'],,...,,,,,,,,,,

In [10]:
# # these mathematicians were not classified as humans, but seem like they should be
# # for some reason, my dataframe does not recognize them as existing... :(
# missing = ['Igor Mezić', 'John Wood (professor)', 'Otfried Cheong', 'Liu Gang']

# for i in missing:
#     if i in df.mathematicians:
#         print(i)
# #     df['instance of'][df['mathematicians'] == i] = ['human']

# # print(df[~((df['instance of'].str.contains("'human'")) | (df['instance of'].str.contains("'Q5'")))].shape)

In [11]:
print('total (old):', df.shape[0])
df = df[(df['instance of'].str.contains("'human'")) | (df['instance of'].str.contains("'Q5'")) | (df['instance of'].str.contains("'sibling'"))]
print('human (new):', df.shape[0])

total (old): 8643
human (new): 8597

In [12]:
for i in df['instance of'].unique():
    print(i)

['human']
['human', 'Russian Wikipedia']
['human', 'twin']
['Q5']
['twin', 'human']
['human', 'English Wikipedia']
['human', 'data.bnf.fr', '10 October 2015', 'http://data.bnf.fr/ark:/12148/cb119176085']
['human', 'Russian Wikipedia', 'data.bnf.fr', '10 October 2015', 'http://data.bnf.fr/ark:/12148/cb118976048']
['eunuch', 'human']
['human', 'male']
['human', 'emeritus']

In [13]:
df['sex or gender'][~((df['sex or gender'].str.contains('male')) | (df['sex or gender'].str.contains('female')))].unique()

array([''], dtype=object)

In [14]:
def cleanText(df, column):
    df[column] = df[column].str.replace("'", "")
    df[column] = df[column].str.replace("[", "")
    df[column] = df[column].str.replace("]", "")
    return df

def cleanList(df, column):
    df = cleanText(df, column)
    df[column] = df[column].str.split(', ')
    return df

In [15]:
df = cleanText(df, 'given name')
df = cleanText(df, 'place of birth')

In [16]:
approximated = []

def cleanDate(df, column, name):
    # clean date text
    df = cleanText(df, column)
    df[column] = df[column].str.replace("Gregorian", "")
    df[column] = df[column].str.replace("Julian", "")
    df[column] = df[column].apply(lambda x: x.split(',', 1)[0])
    
    # create an "approximated" column to recognize inexact values
    approx = 'approx. ' + column
    approximated.append(approx)
    df[approx] = df[column].str.contains('century', na=False)
    df[column][(df[approx]) & (df[column].str[1] != '.')] = df[column][(df[approx]) & (df[column].str[1] != '.')].apply(lambda x: str(int(x[:2])-1) + '00')
    df[column][(df[approx]) & (df[column].str[1] == '.')] = df[column][(df[approx]) & (df[column].str[1] =='.')].apply(lambda x: str(int(x[0])-1) + '00')

    # break date into separate year, month, day columns
    year = 'year of ' + name
    month = 'month of ' + name
    day = 'day of ' + name
    
    df[day], df[month], df[year] = df[column].str.split(' ', 2).str
    
    months = ['January', 'February', 'March', 'April', 'May', 'June', 'July',
              'August', 'September', 'October', 'November', 'December']

    # fix dates with 'year' in 'day' column
    df[year][df[day].str.len() > 2] = df[day][df[day].str.len() > 2]
    df[day][df[day].str.len() > 2] = ''
    
    df[year][df[day].apply(pd.to_numeric, args=('coerce',)) > 31] = df[day]
    df[day][df[day].apply(pd.to_numeric, args=('coerce',)) > 31] = ''
    
    df[year][df[day].str[-1:] == 's'] = df[day].str[:-1]
    df[day][df[day].str[-1:] == 's'] = ''
    
    # fix dates with 'month' in 'day' column
    df[year][df[day].isin(months)] = df[month][df[day].isin(months)]
    df[month][df[day].isin(months)] = df[day][df[day].isin(months)]
    df[day][df[day].isin(months)] = ''

    for i in df.columns:
        df[i][df[i].isnull()] = ''

    # fix dates with flipped year-month
    condition = df[month].str.isnumeric()
    df[day][condition] = df[year][condition]
    df[year][condition] = df[month][condition]
    df[month][condition] = df[day][condition]
    df[day][condition] = ''

    # convert BCE to negative values
    df[year][df[month] == 'BCE'] = '-' + df[year][df[month] == 'BCE']
    df[month][df[month] == 'BCE'] = ''
    
    # remove date with 'millennium' in it
    df = df[df[column].str.contains('millennium') == False]
    
    return df

df = cleanDate(df, 'date of birth', 'birth')
df = cleanDate(df, 'date of death', 'death')
df

/Users/JPhilleo/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/JPhilleo/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/JPhilleo/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/JPhilleo/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/JPhilleo/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/JPhilleo/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/JPhilleo/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/JPhilleo/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/JPhilleo/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/JPhilleo/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/JPhilleo/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/JPhilleo/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/JPhilleo/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/JPhilleo/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/JPhilleo/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/JPhilleo/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/JPhilleo/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/JPhilleo/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,mathematicians,links,instance of,sex or gender,occupation,date of birth,given name,country of citizenship,VIAF ID,place of birth,...,NILF author id,365chess player ID,approx. date of birth,day of birth,month of birth,year of birth,approx. date of death,day of death,month of death,year of death
0,Roger Joseph Boscovich,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['physicist', 'astronomer', 'mathematician', '...",18 May 1711,Ruggero,['Republic of Ragusa'],['36938235'],"Dubrovnik, Republic of Ragusa",...,,,False,18,May,1711,False,13,February,1787
1,Emma Previato,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['female'],['mathematician'],1952,Emma,"['United States of America', 'Italy']",['71642559'],Badia Polesine,...,,,False,,,1952,False,,,
2,Feodor Deahna,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],1815,Feodor,,['35350194'],,...,,,False,,,1815,False,,,1844
3,Denis Henrion,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['publisher', 'mathematician']",1500,Denis,['France'],['10077255'],,...,,,True,,,1500,False,,,1640
4,Henri Delannoy,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['mathematician', 'historian', 'military perso...",28 September 1833,"Henri, Auguste",['France'],['4920573'],Bourbonne-les-Bains,...,,,False,28,September,1833,False,5,February,1915
5,John Hymers,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],20 July 1803,John,,['37277653'],Ormesby,...,,,False,20,July,1803,False,7,April,1887
6,Alexander Grothendieck,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['mathematician', 'university teacher']",28 March 1928,Alexander,"['France', '1971', '1971', 'statelessness', 's...",['12381506'],Berlin,...,,,False,28,March,1928,False,13,November,2014
7,Theodore James Courant,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],,Theodore,['United States of America'],['41001596'],,...,,,False,,,,False,,,
8,Ljubomir Chakaloff,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],18 February 1886,Ljubomir,,['1383716'],,...,,,False,18,February,1886,False,11,September,1963
9,Earnshaw Cook,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],,28 March 1900,,,,,...,,,False,28,March,1900,False,11,November,1987
10,Nikolay Bogolyubov,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['mathematician', 'theoretical physicist', 'in...",21 August 1909,Nikolai,"['Soviet Union', 'Russia', 'Ukraine']",['108163897'],Nizhny Novgorod,...,,,False,21,August,1909,False,13,February,1992
11,Henry W. Gould,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],26 August 1928,Henry,['United States of America'],['265395425'],Portsmouth,...,,,False,26,August,1928,False,,,
12,C. S. Seshadri,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],29 February 1932,C.,['India'],['234043427'],,...,,,False,29,February,1932,False,,,
13,George F. Pinder,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['civil engineer', 'engineer']",,George,['United States of America'],,,...,,,False,,,,False,,,
14,Roman Holowinsky,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],26 July 1979,Roman,['United States of America'],,,...,,,False,26,July,1979,False,,,
15,Johannes Hudde,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['mathematician', 'politician']",23 April 1628,Johannes,['Dutch Republic'],['39529954'],Amsterdam,...,,,False,23,April,1628,False,15,April,1704
16,Morris Kline,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['mathematician', 'historian of mathematics']",1 May 1908,Morris,['United States of America'],['59116073'],Brooklyn,...,,,False,1,May,1908,False,10,June,1992
17,Thomas Wolff,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['mathematician', 'university teacher']",14 July 1954,Thomas,['United States of America'],['71676650'],New York City,...,,,False,14,July,1954,False,31,July,2000
18,Joseph Lipman,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['mathematician', 'university teacher']",15 June 1938,Joseph,['Canada'],['9927071'],Toronto,...,,,False,15,June,1938,False,,,
19,John Fox (statistician),https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['statistician', 'author']",25 April 1946,John,,['101440451'],,...,,,False,25,April,1946,False,,,
20,Martin Bridson,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['mathematician', 'university teacher']",1964,Martin,['United Kingdom'],['116813130'],Douglas,...,,,False,,,1964,False,,,
21,Matthew Stewart (mathematician),https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],1717,Matthew,,['100370422'],,...,,,False,,,1717,False,,,1785
22,Uriel Frisch,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['mathematician', 'physicist']",10 December 1940,Uriel,['France'],['109351653'],Agen,...,,,False,10,December,1940,False,,,
23,Gábor Korchmáros,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],1900,Gabor,['Hungary'],['121472720'],,...,,,True,,,1900,False,,,
24,Dionigi Galletto,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],26 January 1932,Dionigi,"['Italy', 'Kingdom of Italy']",['66133678'],"Monasterolo di Savigliano, Kingdom of Italy",...,,,False,26,January,1932,False,25,September,2011
25,Quirico Filopanti,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],20 April 1812,Giuseppe,['Kingdom of Italy'],['37170784'],Budrio,...,,,False,20,April,1812,False,18,December,1894
26,Jeffery J. Leader,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],,,,,,,...,,,False,,,,False,,,
27,Thomas Rudd,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['mathematician', 'occultist', 'stage magician']",1583,Thomas,,['296231049'],,...,,,False,,,1583,False,,,1656
28,Elon Lindenstrauss,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['mathematician', 'educator', 'university teac...",1 August 1970,Elon,['Israel'],['98010634'],"Jerusalem, Israel",...,,,False,1,August,1970,False,,,
29,Yitang Zhang,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],1955,,"['United States of America', ""People's Republi...",['315084983'],Pinghu,...,,,False,,,1955,False,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8613,Hermann Brunn,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['mathematician', 'librarian']",1 August 1862,Hermann,['Germany'],['57375316'],Rome,...,,,False,1,August,1862,False,20,September,1939
8614,Judith Grabiner,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['female'],"['mathematician', 'historian of mathematics', ...",12 October 1938,Judith,['United States of America'],['94357124'],Los Angeles,...,,,False,12,October,1938,False,,,
8615,Isaac Namioka,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],25 April 1928,Isaac,['United States of America'],['33415568'],,...,,,False,25,April,1928,False,,,
8616,Iranshahri,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['mathematician', 'astronomer', 'philosopher',...",800,,['Iran'],,Nishapur,...,,,True,,,800,False,,,
8617,Martha Isabel Fandiño Pinilla,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['female'],['mathematician'],28 September 1956,Martha,,['307419443'],,...,,,False,28,September,1956,False,,,
8618,Laurence Wolsey,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['mathematician', 'university teacher']",14 May 1945,Laurence,['United Kingdom'],['59144470'],London,...,,,False,14,May,1945,False,,,
8619,Adolph Winkler Goodman,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],20 July 1915,Adolph,['United States of America'],['264769021'],,...,,,False,20,July,1915,False,30,July,2004
8620,Mina Teicher,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['female'],"['mathematician', 'university teacher']",1950,Mina,['Israel'],['272012660'],Tel Aviv,...,,,False,,,1950,False,,,
8621,Askold Ivanovich Vinogradov,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],1929,,['Russia'],['306001402'],,...,,,False,,,1929,False,31,December,2005
8622,Ottavio Scarlattini,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],1623,Ottavio,,['5306051'],,...,,,False,,,1623,False,,,1699
8623,James E. Humphreys,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],1939,James,['United States of America'],['22203551'],Erie,...,,,False,,,1939,False,,,
8624,Maurice Princet,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['mathematician', 'actuary']",1875,Maurice,['France'],,,...,,,False,,,1875,False,23,October,1973
8625,Steven Vajda,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['mathematician', 'university teacher']",20 August 1901,Steven,['United Kingdom'],['108123965'],Budapest,...,,,False,20,August,1901,False,10,December,1995
8626,László Fejes Tóth,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],12 March 1915,László,['Hungary'],['24734049'],Szeged,...,,,False,12,March,1915,False,17,March,2005
8627,Anatoly Vershik,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['mathematician', 'professor']",28 December 1933,Q487568,"['Soviet Union', 'Russia']",['111654945'],Saint Petersburg,...,,,False,28,December,1933,False,,,
8628,Mu-Tao Wang,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],,,,,,...,,,False,,,,False,,,
8629,Uwe Storch,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['mathematician', 'university teacher']",12 July 1940,Uwe,['Germany'],['57810866'],Stassfurt,...,,,False,12,July,1940,False,,,
8630,Bernard Teissier,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['mathematician', 'university teacher']",1945,Bernard,['France'],['2551438'],,...,,,False,,,1945,False,,,
8631,Victor Isakov,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],1947,Q30106749,['Soviet Union'],['85639022'],,...,,,False,,,1947,False,,,
8632,Raymond Woodard Brink,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],4 January 1890,Raymond,['United States of America'],['116355764'],Newark,...,,,False,4,January,1890,False,27,December,1973
8633,Arnaud Beauville,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['mathematician', 'professeur des universités'...",10 May 1947,Arnaud,['France'],['51685475'],Boulogne-Billancourt,...,,,False,10,May,1947,False,,,
8634,Michele Cipolla,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],28 October 1880,Michele,['Italy'],['40213500'],Palermo,...,,,False,28,October,1880,False,7,September,1947
8635,James Crowley (mathematician),https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],,,,,,...,,,False,,,,False,,,
8636,Iain S. Duff,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['mathematician', 'computer scientist', 'engin...",5 January 1947,Iain,,,Glasgow,...,,,False,5,January,1947,False,,,
8637,Ralph Henstock,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],2 June 1923,Ralph,['United Kingdom'],['22213866'],,...,,,False,2,June,1923,False,17,January,2007
8638,Hugh Hamilton (bishop),https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['priest'],26 March 1729,Hugh,,['27849906'],County Dublin,...,,,False,26,March,1729,False,1,December,1805
8639,Boáz Klartag,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['mathematician', 'university teacher']",25 April 1978,,['Israel'],['98345842'],,...,,,False,25,April,1978,False,,,
8640,Alain M. Robert,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],15 October 1941,Alain,['Switzerland'],['92466166'],,...,,,False,15,October,1941,False,,,
8641,Paul C. Rosenbloom,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],['mathematician'],31 March 1920,Paul,['United States of America'],['11149888'],Portsmouth,...,,,False,31,March,1920,False,,May,2005
8642,Edward O. Thorp,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"['mathematician', 'writer', 'university teacher']",14 August 1932,Edward,['United States of America'],['48251897'],Chicago,...,,,False,14,August,1932,False,,,

In [17]:
print(sorted(set(df['day of birth'])))
print()
print()
print(sorted(set(df['month of birth'])))
print()
print()
print(sorted(set(df['year of birth'])))

['', '1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '3', '30', '31', '4', '5', '6', '7', '8', '9']


['', 'April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']


['', '-135', '-150', '-160', '-1680', '-190', '-200', '-240', '-250', '-262', '-276', '-280', '-280s', '-281', '-284', '-287', '-310s', '-340', '-350', '-360', '-370', '-380', '-383', '-390', '-396', '-408', '-410s', '-428', '-430', '-443', '-460s', '-465', '-470', '-479', '-480', '-490', '-500', '-585', '-586', '-600', '-623', '-750', '-78', '000', '100', '1000', '1010', '1013', '1019', '1020', '1029', '1031', '1048', '1060', '1070', '1080', '1089', '1098', '1100', '1101', '1110', '1114', '1120', '1130', '1135', '1136', '1175', '1187', '1192', '1195', '1197', '1200', '1201', '1203', '1210', '1213', '1230', '1231', '1232', '1238', '1249', '1250', '1256', '1267', '1282', '1288', '1292', '1300', '1313', '1320', '1320s', '133', '1350', '1355', '1359', '1364', '1368', '1370', '1380', '1384', '1394', '1395', '1397', '1400', '1401', '1403', '1408', '1412', '1415', '1422', '1423', '1424', '1428', '1436', '1437', '1444', '1445', '1447', '1450', '1452', '1454', '1460', '1462', '1465', '1468', '1470', '1473', '1477', '1479', '1480', '1482', '1487', '1489', '1490', '1492', '1493', '1494', '1495', '1499', '1500', '1501', '1502', '1503', '1508', '1509', '1510', '1511', '1512', '1514', '1515', '1517', '1518', '1520', '1522', '1523', '1524', '1526', '1527', '1528', '1530', '1531', '1532', '1533', '1535', '1536', '1537', '1538', '1540', '1541', '1542', '1544', '1546', '1547', '1548', '1550', '1551', '1552', '1553', '1554', '1555', '1556', '1557', '1559', '1560', '1561', '1562', '1563', '1564', '1565', '1566', '1567', '1568', '1569', '1570', '1571', '1572', '1574', '1576', '1577', '1578', '1580', '1581', '1582', '1583', '1584', '1585', '1586', '1587', '1588', '1589', '1590', '1591', '1595', '1596', '1597', '1598', '1600', '1600s', '1601', '1602', '1603', '1604', '1605', '1606', '1607', '1608', '1610', '1611', '1612', '1613', '1615', '1616', '1617', '1618', '1619', '1620', '1621', '1622', '1623', '1624', '1625', '1626', '1627', '1628', '1629', '1630', '1631', '1632', '1633', '1634', '1635', '1637', '1638', '1639', '1640', '1642', '1643', '1644', '1645', '1646', '1647', '1648', '1649', '1650', '1651', '1652', '1653', '1654', '1655', '1656', '1657', '1658', '1659', '1660', '1661', '1663', '1664', '1665', '1666', '1667', '1669', '1670', '1671', '1672', '1674', '1675', '1676', '1677', '1678', '1679', '1680', '1681', '1682', '1683', '1684', '1685', '1687', '1688', '1689', '1690', '1691', '1692', '1693', '1694', '1695', '1697', '1698', '1699', '1700', '1701', '1702', '1703', '1704', '1705', '1706', '1707', '1708', '1709', '1710', '1711', '1712', '1713', '1714', '1715', '1716', '1717', '1718', '1719', '1720', '1724', '1725', '1726', '1728', '1729', '1730', '1731', '1732', '1733', '1734', '1735', '1736', '1737', '1738', '1739', '1740', '1741', '1742', '1743', '1744', '1745', '1746', '1747', '1748', '1749', '1750', '1751', '1752', '1753', '1754', '1755', '1756', '1757', '1759', '1760', '1761', '1762', '1763', '1764', '1765', '1766', '1767', '1768', '1769', '1770', '1771', '1772', '1773', '1774', '1775', '1776', '1777', '1779', '1780', '1781', '1782', '1783', '1784', '1785', '1786', '1787', '1788', '1789', '1790', '1791', '1792', '1793', '1794', '1795', '1796', '1797', '1798', '1799', '1800', '1801', '1802', '1803', '1804', '1805', '1806', '1807', '1808', '1809', '1810', '1811', '1812', '1813', '1814', '1815', '1816', '1817', '1818', '1819', '1820', '1821', '1822', '1823', '1824', '1825', '1826', '1827', '1828', '1829', '1830', '1831', '1832', '1833', '1834', '1835', '1836', '1837', '1838', '1839', '1840', '1841', '1842', '1843', '1844', '1845', '1846', '1847', '1848', '1849', '1850', '1851', '1852', '1853', '1854', '1855', '1856', '1857', '1858', '1859', '1860', '1861', '1862', '1863', '1864', '1865', '1866', '1867', '1868', '1869', '1870', '1871', '1872', '1873', '1874', '1875', '1876', '1877', '1878', '1879', '1880', '1881', '1882', '1883', '1884', '1885', '1886', '1887', '1888', '1889', '1890', '1891', '1892', '1893', '1894', '1895', '1896', '1897', '1898', '1899', '1900', '1901', '1902', '1903', '1904', '1905', '1906', '1907', '1908', '1909', '1910', '1911', '1912', '1913', '1914', '1915', '1916', '1917', '1918', '1919', '1920', '1921', '1922', '1923', '1924', '1925', '1926', '1927', '1928', '1929', '1930', '1931', '1932', '1933', '1934', '1935', '1936', '1937', '1938', '1939', '1940', '1940s', '1941', '1942', '1943', '1944', '1945', '1946', '1947', '1948', '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1992', '1993', '1995', '1997', '1998', '200', '2003', '225', '228', '240', '290', '295', '300', '335', '370', '400', '412', '429', '440', '474', '476', '480', '490', '500', '505', '535', '580', '598', '60', '602', '610', '683', '70', '700', '720', '740', '770', '78', '786', '787', '792', '800', '801', '808', '820', '835', '836', '850', '858', '865', '870', '880', '900', '908', '940', '940s', '950', '951', '953', '960', '965', '971', '973', '980', '989']

In [18]:
df[df['day of death'] == '1.']

Empty DataFrame
Columns: [mathematicians, links, instance of, sex or gender, occupation, date of birth, given name, country of citizenship, VIAF ID, place of birth, Mathematics Genealogy Project ID, date of death, SUDOC authorities, Library of Congress authority identifier, educated at, GND ID, ISNI, BnF ID, employer, image, place of death, Freebase ID, member of, doctoral advisor, field of work, zbMATH author ID, award received, languages spoken, written or signed, National Thesaurus for Author Names ID, MacTutor id (biographies), FAST ID, Commons category, Social Networks and Archival Context ID, Erdős number, Open Library ID, described by source, family name, name in native language, SHARE Catalogue author ID, CANTIC-ID, CERL ID, NUKAT (WarsawU) authorities, National Library of Israel ID, work location, openMLOL author ID, People Australia ID, NDL Auth ID, NKCR AUT ID, Oxford Biography Index Number, Academic Tree ID, academic degree, NLA (Australia) ID, Encyclopædia Britannica Online ID, SELIBR, Gran Enciclopèdia Catalana ID, DBLP ID, place of interment, BNE ID, doctoral student, National Library of Greece ID, NNDB people ID, SBN ID, BAV ID, official website, Quora topic ID, child, CTHS person ID, father, Scopus Author ID, manner of death, religion, National Portrait Gallery (London) person ID, position held, NE.se ID, Commons gallery, student, National Library of Ireland authority, spouse, sibling, EMLO person ID, cause of death, native language, PTBNP ID, participant of, Great Russian Encyclopedia Online ID, InPhO ID, British Museum person-institution, Project Gutenberg author ID, Dizionario Biografico degli Italiani, Commons Creator page, member of political party, WikiTree ID, topic's main category, Cambridge Alumni Database ID, ethnic group, Six Degrees of Francis Bacon ID, Fellow of the Royal Society ID, birth name, notable work, Enciclopedia Treccani ID, ...]
Index: []

[0 rows x 239 columns]

In [19]:
print(sorted(set(df['day of death'])))
print()
print()
print(sorted(set(df['month of death'])))
print()
print()
print(sorted(set(df['year of death'])))

['', '1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '3', '30', '31', '4', '5', '6', '7', '8', '9']


['', 'April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']


['', '-100', '-120', '-140', '-1620', '-180', '-190', '-194', '-208', '-212', '-220s', '-221', '-230s', '-278', '-290', '-300', '-314', '-320', '-321', '-347', '-355', '-360s', '-369', '-37', '-370', '-390', '-399', '-409', '-410', '-411', '-425', '-428', '-460', '-500', '-51', '-525', '-546', '-690', '-75', '000', '100', '1000', '1003', '1009', '1022', '1024', '1026', '1029', '1036', '1037', '1040', '1048', '1050', '1054', '1066', '1070', '1075', '1084', '1087', '1095', '1100', '1101', '1130', '1131', '1136', '1145', '1150', '1152', '1157', '1169', '1172', '1180', '1185', '1196', '120', '1200', '1204', '1206', '1213', '1225', '1228', '1232', '1240', '1256', '1260', '1261', '1262', '1264', '1274', '1275', '1277', '1279', '1296', '1298', '1300', '1301', '1314', '1316', '1319', '1321', '1336', '1344', '1349', '135', '1350', '1352', '1354', '1372', '1374', '1375', '1377', '1382', '139', '140', '1400', '1416', '1418', '1425', '1429', '1437', '1439', '1442', '1447', '1449', '1453', '1460', '1461', '1464', '1465', '1471', '1473', '1474', '1476', '1482', '1484', '1486', '1488', '1489', '1492', '1497', '1499', '1500', '1504', '1505', '1513', '1515', '1517', '1522', '1524', '1525', '1526', '1528', '1530', '1531', '1534', '1535', '1536', '1542', '1543', '1544', '1545', '1546', '1547', '1550', '1551', '1552', '1553', '1555', '1557', '1558', '1559', '1560', '1562', '1564', '1565', '1566', '1567', '1570', '1572', '1573', '1574', '1575', '1576', '1577', '1578', '1580', '1581', '1582', '1585', '1586', '1588', '1589', '1590', '1593', '1595', '1596', '1598', '160', '1600', '1601', '1603', '1604', '1605', '1606', '1608', '1610', '1611', '1612', '1613', '1614', '1615', '1616', '1617', '1618', '1620', '1621', '1622', '1624', '1626', '1627', '1628', '1629', '1630', '1631', '1632', '1633', '1635', '1636', '1637', '1638', '1639', '1640', '1641', '1642', '1643', '1644', '1646', '1647', '1648', '1650', '1651', '1652', '1653', '1654', '1655', '1656', '1657', '1659', '1660', '1661', '1662', '1663', '1664', '1665', '1666', '1667', '1668', '1669', '1670', '1671', '1672', '1674', '1675', '1676', '1677', '1678', '1679', '1680', '1682', '1683', '1684', '1685', '1686', '1687', '1688', '1689', '1690', '1691', '1693', '1694', '1695', '1696', '1697', '1698', '1699', '1700', '1701', '1702', '1703', '1704', '1705', '1706', '1707', '1708', '1709', '1710', '1711', '1712', '1713', '1714', '1715', '1716', '1718', '1719', '1720', '1721', '1722', '1723', '1725', '1726', '1727', '1729', '1730', '1731', '1732', '1733', '1734', '1735', '1737', '1739', '1740', '1742', '1743', '1744', '1745', '1746', '1748', '1749', '1750', '1751', '1752', '1753', '1754', '1755', '1757', '1758', '1759', '1760', '1761', '1762', '1763', '1764', '1765', '1766', '1767', '1768', '1769', '1770', '1771', '1772', '1773', '1774', '1775', '1777', '1778', '1779', '1780', '1781', '1782', '1783', '1784', '1785', '1786', '1787', '1788', '1789', '1790', '1791', '1792', '1793', '1794', '1795', '1796', '1797', '1798', '1799', '1800', '1801', '1802', '1803', '1804', '1805', '1806', '1807', '1808', '1809', '1810', '1811', '1812', '1813', '1814', '1815', '1816', '1817', '1818', '1819', '1820', '1821', '1822', '1823', '1824', '1825', '1826', '1827', '1828', '1829', '1830', '1831', '1832', '1833', '1834', '1835', '1836', '1837', '1838', '1839', '1840', '1841', '1842', '1843', '1844', '1845', '1846', '1847', '1848', '1849', '1850', '1851', '1852', '1853', '1854', '1855', '1856', '1857', '1858', '1859', '1860', '1861', '1862', '1863', '1864', '1865', '1866', '1867', '1868', '1869', '1870', '1871', '1872', '1873', '1874', '1875', '1876', '1877', '1878', '1879', '1880', '1881', '1882', '1883', '1884', '1885', '1886', '1887', '1888', '1889', '1890', '1891', '1892', '1893', '1894', '1895', '1896', '1897', '1898', '1899', '1900', '1901', '1902', '1903', '1904', '1905', '1906', '1907', '1908', '1909', '1910', '1911', '1912', '1913', '1914', '1915', '1916', '1917', '1918', '1919', '192', '1920', '1921', '1922', '1923', '1924', '1925', '1926', '1927', '1928', '1929', '1930', '1931', '1932', '1933', '1934', '1935', '1936', '1937', '1938', '1939', '1940', '1941', '1942', '1943', '1944', '1945', '1946', '1947', '1948', '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '200', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '266', '295', '300', '350', '36', '360', '400', '405', '415', '485', '500', '520s', '525', '534', '550', '560', '566', '587', '640', '670', '685', '727', '75', '777', '784', '790', '796', '800', '815', '845', '853', '860', '866', '873', '874', '884', '886', '900', '901', '912', '922', '929', '930', '934', '943', '946', '971', '990', '998']

In [20]:
occupations = list(set([element for row in cleanList(df, 'occupation').occupation for element in row]))
occupations

['',
 'On the history of logarithms : Bürgi',
 'editor',
 'newspaper editor',
 'anthropologist',
 'full professor',
 'philosopher of language',
 'activist',
 'civil engineer',
 'engineer of roads and bridges',
 'political prisoner',
 'engineer',
 'Christian theology',
 'neuroscientist',
 'algebraic geometry',
 'street artist',
 'singer',
 'lexicographer',
 'opinion journalist',
 'blogger',
 'International School for Advanced Studies',
 'radiologist',
 'translator',
 'naturalist',
 'cryptographer',
 'Russian Wikipedia',
 'Director of Research at CNRS',
 '2000',
 '1981',
 'jazz musician',
 'programmer',
 'toponymist',
 'art collector',
 'nun',
 'juggler',
 'Catholic priest',
 'Q16267607',
 'badminton player',
 'basketball player',
 'biochemist',
 'stage magician',
 'sport cyclist',
 'geomatics engineering',
 'orator',
 'mathematician',
 'philosopher of science',
 'biologist',
 'cricketer',
 'science writer',
 'criminologist',
 'psephologist',
 'horticulturist',
 'metallurgist',
 'model',
 'singer-songwriter',
 'botanist',
 'speleologist',
 'statistician',
 'ethicist',
 'officer',
 'biographer',
 'printmaker',
 'politician',
 'geodesist',
 'numismatist',
 'Q901',
 'deacon',
 'agronomist',
 'informant',
 'contributing editor',
 'bishop',
 'educator',
 'École polytechnique fédérale de Lausanne',
 'critic',
 'cognitive scientist',
 'philosopher',
 'music educator',
 '1939',
 'astronomer',
 '1893',
 'anatomist',
 'theoretical biologist',
 'http://www.infoplease.com/biography/science-mathematicians.html',
 'teacher',
 'French moralists',
 'ichthyologist',
 'designer',
 'cardinal',
 'Brazzers',
 '1874',
 'peace activist',
 'music theorist',
 'media critic',
 'actor',
 'University of Zurich',
 'polygraph',
 'mechanic',
 'professeur des universités',
 'German Wikipedia',
 'priest',
 'civil servant',
 'interlinguist',
 'geopolitician',
 'cosmologist',
 'Briggs',
 'astrologer',
 'polymath',
 'Médico de familia',
 'musician',
 'Bible translator',
 'screenwriter',
 'diplomat',
 'rabbi',
 'game designer',
 'research fellow',
 'historian of science',
 'astrophysicist',
 'parson',
 'cartographer',
 'Paris Diderot University',
 'pragmatist',
 'fencer',
 'military personnel',
 'printer',
 'assyriologist',
 'photographer',
 'terrorist',
 'tax collector',
 'philatelist',
 'Hellenist',
 'author',
 'ufologist',
 'rower',
 'qadi',
 'aerospace engineer',
 'comedian',
 'social critic',
 'gemcutter',
 'banker',
 'orientalist',
 'psychology',
 'Hubrecht Institute',
 'university teacher',
 'artist',
 'physicist',
 'Anglican priest',
 'ornithologist',
 '"marja"',
 'probability theory',
 'hagiographer',
 'farmer',
 '"childrens writer"',
 'coin collecting',
 'explorer',
 'theologian',
 'radio personality',
 'nuclear scientist',
 'epistemologist',
 'circus performer',
 'Q27686666',
 'philanthropist',
 'calculus of variations',
 'beekeeper',
 'docent',
 'consultant',
 'history of science',
 'papyrologist',
 'lyricist',
 'patron of the arts',
 'investor',
 'official',
 'Dutch Wikipedia',
 'historian of mathematics',
 'anti-vaccine activist',
 'natural philosophy',
 'financier',
 'hydrologist',
 'sociologist',
 'songwriter',
 'Indologist',
 'political philosopher',
 'sculptor',
 'geophysicist',
 'geneticist',
 'vice president',
 'roboticist',
 'diarist',
 'Huygens',
 'de Decker',
 'resistance fighter',
 'game theory',
 'rugby union player',
 'selenographer',
 'film actor',
 'jurist',
 'musicologist',
 'researcher',
 'school teacher',
 'faculty',
 'lawyer',
 'monk',
 'mineralogist',
 'Q28078592',
 'Yachtmaster',
 'non-fiction writer',
 'Vlacq',
 'theoretical physics',
 'entrepreneur',
 '7 December 2016',
 'physician',
 'cellist',
 'violinist',
 'McGill University',
 'genealogist',
 'association football player',
 'partial differential equation',
 'Napier',
 'calligrapher',
 'mechanician',
 'physiologist',
 'artificial intelligence researcher',
 'high school teacher',
 'tailor',
 'Q30134437',
 'poker player',
 'mechanical engineer',
 'pharmacist',
 'vicar',
 'linguist',
 'anti-war activist',
 'microbiologist',
 'art historian',
 'architect',
 'aviator',
 'pacifist',
 'poet',
 'social scientist',
 'alchemist',
 'magistrate',
 'public speaker',
 'computational biologist',
 'sailor',
 'economic historian',
 'association football manager',
 'volcanologist',
 'essayist',
 'political activist',
 'director',
 'association football referee',
 'Christian apologetics',
 'archivist',
 'bodybuilding',
 'geographer',
 'pianist',
 'philosophy historian',
 'squash player',
 'telegraphy',
 'computer scientist',
 'Catedrático de universidad',
 'Ingen',
 'Esperantist',
 'Encyclopédistes',
 'noble',
 'seismologist',
 'academician',
 'Persian Wikipedia',
 'cryptanalyst',
 'draughtsperson',
 'head teacher',
 'statesman',
 'librarian',
 'India',
 'bridge player',
 'head coach',
 'lecturer',
 'television presenter',
 'playwright',
 'sophist',
 'philologist',
 'bioinformatician',
 'athletics competitor',
 'epigrammatist',
 'literary historian',
 'theoretical physicist',
 'human computer',
 'navy officer',
 'Sanskrit scholar',
 'archaeologist',
 'meteorologist',
 'classical scholar',
 'economist',
 'judge',
 'lacrosse player',
 'political scientist',
 'scribe',
 'Judaic scholar',
 'curator',
 'saxophonist',
 'Intelligence analysis',
 'Australian rules footballer',
 'professor',
 'taekwondo athlete',
 'econometrician',
 'literary',
 'http://www.tandfonline.com/doi/full/10.1080/10926480903028094',
 'biophysicist',
 'textile designer',
 'poet lawyer',
 '1835',
 'patent inventor',
 'occultist',
 'mathematical economics',
 'analytic philosopher',
 'http://www.worldatlas.com/webimage/countrys/europe/england/ukefamous3.htm',
 'mining engineer',
 'mycologist',
 'surgeon',
 'businessperson',
 'demographer',
 'logician',
 'mystic',
 'journalist',
 'Posek',
 'military historian',
 'entomologist',
 'tennis player',
 'literary critic',
 'chess official',
 'dissident',
 'chess composer',
 '1931',
 'historian of cartography',
 'publisher',
 'egyptologist',
 'Latin',
 'Justice of the Peace',
 'Digambara monk',
 'University of Turku',
 '16112',
 '1803',
 'chemist',
 'faqih',
 'American football player',
 'correspondent',
 'http://www.nndb.com/cemetery/815/000208191/',
 'mythographer',
 'watchmaker',
 'revolutionary',
 'social philosopher',
 'autobiographer',
 'classical philologist',
 '1841',
 'minister',
 'hellenist',
 'writer',
 'astronaut',
 'cleric',
 'trade unionist',
 'English Wikipedia',
 'human rights activist',
 'epidemiologist',
 'travel',
 'chess player',
 'malariologist',
 'grammarian',
 'quantum physicist',
 'missionary',
 'cryptologist',
 'University of Waterloo',
 'zoologist',
 'software engineer',
 'novelist',
 'disc jockey',
 'librettist',
 'salonnière',
 'clockmaker',
 'science fiction writer',
 'composer',
 'metaphysician',
 'historian',
 'mathematics',
 '2002',
 '2003',
 '1868',
 'political writer',
 'Idist',
 'academic',
 'oceanographer',
 'notary',
 'paleontologist',
 'Q19163412',
 'inventor',
 'ecologist',
 'paramedic',
 '1804',
 'chairperson',
 'neurologist',
 'accountant',
 'scientist',
 'arabist',
 'cosmographer',
 'administrator',
 'topologist',
 'religious',
 'film director',
 'actuary',
 'television actor',
 'psychiatrist',
 'painter',
 'geologist',
 'psychologist',
 'pupil',
 'stage actor',
 'music historian']

In [21]:
def makeDummies(df, column):
    column_list = list(set([element for row in cleanList(df, column)[column] for element in row]))

    list_dummies = pd.DataFrame(columns=column_list[1:], index=df.index)
    df['list_dummies'] = [', '.join(i) for i in df[column]]

    for column in list_dummies.columns:
        for row in range(len(list_dummies)):
            if column in df['list_dummies'].iloc[row]:
                list_dummies[column].iloc[row] = 1
            else:
                list_dummies[column].iloc[row] = 0

    df = pd.concat([df, list_dummies], axis=1)
    df = df.drop(['list_dummies'], axis=1)

    return df

# df = makeDummies(df, 'occupation')
# df = makeDummies(df, 'country of citizenship')
# df = makeDummies(df, 'educated at')
# df = makeDummies(df, 'employer')
# df = makeDummies(df, 'member of')
# df = makeDummies(df, 'field of work')

df.head()

,mathematicians,links,instance of,sex or gender,occupation,date of birth,given name,country of citizenship,VIAF ID,place of birth,...,NILF author id,365chess player ID,approx. date of birth,day of birth,month of birth,year of birth,approx. date of death,day of death,month of death,year of death
0,Roger Joseph Boscovich,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"[physicist, astronomer, mathematician, philoso...",18 May 1711,Ruggero,['Republic of Ragusa'],['36938235'],"Dubrovnik, Republic of Ragusa",...,,,False,18,May,1711,False,13,February,1787
1,Emma Previato,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['female'],[mathematician],1952,Emma,"['United States of America', 'Italy']",['71642559'],Badia Polesine,...,,,False,,,1952,False,,,
2,Feodor Deahna,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],[mathematician],1815,Feodor,,['35350194'],,...,,,False,,,1815,False,,,1844
3,Denis Henrion,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"[publisher, mathematician]",1500,Denis,['France'],['10077255'],,...,,,True,,,1500,False,,,1640
4,Henri Delannoy,https://www.wikidata.org/wiki/Special:EntityPa...,['human'],['male'],"[mathematician, historian, military personnel]",28 September 1833,"Henri, Auguste",['France'],['4920573'],Bourbonne-les-Bains,...,,,False,28,September,1833,False,5,February,1915

In [22]:
feautres_of_interest = ['mathematicians', 'occupation', 'country of citizenship',
                        'place of birth', 'date of death', 'educated at', 'employer',
                        'place of death', 'member of', 'employer', 'doctoral advisor',
                        'languages spoken, written or signed', 'academic degree',
                        'doctoral student', 'manner of death', 'position held',
                        'field of work', 'award received','Erdős number', 'instance of',
                        'sex or gender',  'approx. date of birth', 'day of birth',
                        'month of birth', 'year of birth', 'approx. date of death',
                        'day of death', 'month of death', 'year of death']

df = df[feautres_of_interest]

In [23]:
df.shape

(8596, 29)

In [24]:
df.to_csv('data_cleaned.csv', index=False)